body{
    background-image: url(/static/img/donate-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 570px;
    margin: 0px;
}

#donate{
    background-color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    color: black;
    margin-left: 670px;
    margin-top: 70px;
    margin-right: 30px;
}

#donors{
    background-color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    color: black;
}

#donate:hover{
    background-color: rgb(48, 189, 48);
}

#donors:hover{
    background-color:rgb(48, 189, 48) ;
}