{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/indstyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <title>Chat App</title>
</head>
<body>
    <div class="bg-outer">
        <div class="bg-inner">
            <div class="inner-top">
                <img src="/static/img/log.jpg" id="logo">
                <h1 id="web-name">Be Kind</h1>
                <ul>

                    <a href="about"><li>About</li></a>
                    
                </ul>
                <a href="login"><input type="button" id="login" value="LOG IN"></a>
                <a href="register"><input type="button" id="register" value="Register"></a>
            </div>
            <div class="inner-body">
                <img src="/static/img/new1.jpg" id="body-img">
                <h6 id="topic">Organ <br>Donation</h6>
                <p id="desc">This is a organ donation Webpage</p>
                
            </div>
            
        </div>
        <footer>
            <ul id="foot">
                <li>About Developer</li>
                <li>Feedback</li>
                <li>Contact</li>
            </ul>
        </footer>
    </div>
    
</body>
</html>




<div class="ind-body">


</div>